
<% include ../partials/header %>
<div class='container alert mt-1'>
    <div class="my-5">
        <h1 class="mt-4 text-center text-body"> Administração de Comandas </h1>
    </div> 
    <h4 class="text-center">Comandas da loja Net Link <%= store.name %></h4>
    <hr />
    <div class='row  comandasLoja'>
        <div class='col-md-4 text-center my-5'>
            <a href='/os/buscar/aberta/<%=store.name %>' class='text-decoration-none'><h4 class=' tagsUser'>Comandas Abertas</h4></a>
        </div>
        <div class='col-md-4 text-center my-5'>
            <a href='/os/buscar/executando/<%=store.name %>' class='text-decoration-none'><h4 class='tagsUser'>Comandas Em Execução</h4></a>
        </div>       
        <div class='col-md-4 text-center my-5'>
            <a href='/os/buscar/fechada/<%=store.name %>' class='text-decoration-none'><h4 class='tagsUser'>Comandas Fechadas</h4></a>
        </div>
    </div>

<hr />
    <div class='row BtnComandasLoja'>
        <div class='col-md-4 text-center mx-auto'>
            <a class='text-decoration-none' href='/admin'><h4 class="tagsUp ">Voltar</h4></a>
        </div>
    </div>
    
</div>
<% include ../partials/footer %></div>