<% include ../partials/headerComandas %>

<div class='container text-center my-5'>
    <h1> Abrir Nova Comanda</h1>
</div>
<div class='container my-3' >
    <a href='/os/list'><button type='button' class='btn btn-primary' id='voltar' style='width: 7rem;'> Voltar </button></a>    
</div>

<div class='container' style="margin-bottom: 125px">
    <div class='card formNova'>
        <div class='card-body'>
                <form method='post' action='' >
                    <div class='form-group' >
                        <div class="row ">
                            <div class="form-group col-md-5">
                                <label for="client">Cliente</label>
                                <input class='form-control' type='text' id='client' name='client'>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fone">Telefone</label>
                                <input type="text" class="form-control" id="phone" name='phone' placeholder="digite o telefone do cliente">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="emailClient">E-mail / Rede Social</label>
                                <input type="email" class="form-control" id="socialMedia" name='socialMedia' placeholder="digite o e-mail do cliente">
                            </div>
                        </div>                        
                                
                                <hr />

                                <div class="row ">
                                    <div class="form-group col-md-2">
                                        <label for="fone">Cópia:</label>
                                        <select type="text" class="form-control" id="copy" name='copy' >
                                            <option></option>
                                            <option>Colorida Jato</option>
                                            <option>Colorida Laser</option>
                                            <option>Preto e Branco</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label for="quant">Quant:</label>
                                        <input type="text" class="form-control" id="copyQ" name='copyQ' >
                                                    
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Folhas:</label>
                                        <select type="text" class="form-control" id="sheets" name='sheets' >
                                            <option>Frente</option>
                                            <option>Frente e Verso</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Tamanho:</label>
                                        <select type="text" class="form-control" id="size" name='size' placeholder="digite o telefone do cliente">
                                            <option>Normal</option>
                                            <option>Reduzido</option>
                                            <option>Ampliado</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="fone">Outros Serviços</label>
                                        <select type="text" class="form-control" id="otherServices" name='otherServices' placeholder="digite o telefone do cliente">
                                            <option></option>
                                            <option>Encadernar</option>
                                            <option>Plastificar</option>
                                            <option>Outro Serviço</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Cor:</label>
                                        <select type="text" class="form-control" id="color" name='color' placeholder="digite o telefone do cliente">
                                            <option></option>
                                            <option>Incolor</option>
                                            <option>Cinza</option>
                                            <option>Azul</option>
                                            <option>Vermelho</option>
                                            <option>Amarelo</option>
                                            <option>Listrado</option>
                                            <option>Bolinhas</option>
                                        </select>
                                    </div>
                                </div>

                          
                                <hr/>
                                <div class="row ">
                                    <div class="col-md-9"> 
                                        <label class='mb-2' for="comentário">Descrição:</label>
                                        <textarea class='form-control ' name='comments' rows="2" cols=""> </textarea>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="dateNow">Data de Entrega:</label>
                                        <input type="date" class="form-control " id="delivery" name='delivery' >
                                    </div>
                                </div>
                                <hr />
                                <div class="row mt-3">
                                    <div class="form-group col-md-3 ">
                                        <label class='mr-auto mb-2' for="status">Status</label>
                                        <select class="form-control" id='status' name='status'>
                                            <option value='aberta'>Aberta</option>
                                            <option value='executando'>Executando</option>
                                            <option value='fechada'>Fechada</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="client">Valor Total:</label>
                                        <input type="text" class="form-control " id="valueJobTotal" name='valueJobTotal' placeholder="valor total do serviço">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="dateNow">Valor Entrada:</label>
                                        <input type="text" class="form-control " id="valueJobInit" name='valueJobInit' placeholder="valor de entrada" >
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Pagamento:</label>
                                            <select type="text" class="form-control" id="isSold" name='isSold' placeholder="digite o telefone do cliente">
                                                <option>...</option>
                                                <option>Tudo Pago!</option>
                                                <option>Parcial</option>
                                                <option>Não Pago</option>
                                            </select>
                                    </div>
                                    <div class="col-md-3  ">
                                        <h5> Guichê: </h5>
                                        <select type="text" class="form-control my-1" id="box" name='box' placeholder="digite o telefone do cliente">
                                            <option>...</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                    
                                </div>                                    
                                <hr />
                                <button class='btn btn-primary mt-3' style='width: 7rem;'>Salvar</button>
                            </div> 
                        </form>
                 </div>
            </div>    
        </div>
         <script type="text/javascript">
          $("#valueJobTotal , #valueJobInit").mask("099.00");
        $(document).ready(function(){
            
                $("#valueJobTotal, #valueJobInit").maskMoney({ decimal: '.', thousands: '', precision: 2 });
        })
        </script>
        <script>
        if (window.jQuery == undefined)
    alert("Sem jQuery!");
        </script>

<% include ../partials/footer %>