
<div class='container mt-5'>
    <div class=' text-white text-center' style='box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3)'>
        <h3 class='errMsg'> Não existem Comandas cadastradas com esse Status </h3>
    </div>
</div>
