    
<% include partials/headerUser %>
<h4 class='brandNetUserMessage'>Conectando Pessoas</h4>  
<div class='container my-5'>
      <div class='jumbotron welcome'>
        <h1 class="text-white text-center"> Sistema de Gerenciamento Net Link</h1>
      </div>
      <h3 class='welc tags text-center'> Caixas e Comandas</h3>
      <div class='row BtnComandasLoja'>
        <div class='col-md-4 text-center mx-auto'>
            <a class='text-decoration-none' href='/login'><h4 class="tagsUp ">Login</h4></a>
        </div>
    </div>
      
  </div>

<% include partials/footer %>