<div class="user-login">
    
<% include ./partials/header %>


    <form  method="post" class="box">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Usuário" >
        <input type="password" name="password" placeholder="Senha" >
        <button class="btnLogin" type="submit">Login </button>


    </form>
</div>

<% include ./partials/footer %>