<% include ../../partials/restrict-header %>
<div class='container'>
<h3 class='text-center alert alert-primary my-5'> FUNCIONÁRIAS </h3>
</div>
<div class='container my-4'>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="table-secondary text-center">
          <th scope="col">Funcionárias</th>
          <th scope="col">Excluir</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
      <% employees.forEach(employee => { %>
        <tr class='table-info text-center'>
          <th scope="row"><%= employee.name %></th>
          <td><a href='/restrict/funcionarias/excluir/<%= employee._id %>'><btn class='btn btn-danger'>Excluir</btn></a></td>
          <td><a href='/restrict/funcionarias/editar/<%= employee._id %>'><btn class='btn btn-info'>Editar</btn></a></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </div>


  <div class='my-4'>
    <a href='funcionarias/nova'><button class="btn btn-primary mr-2">Cadastrar Funcionária</button></a>
    <a href='/restrict/gerenciamento'><button class="btn btn-secondary">Voltar</button></a>
  </div>

</div>
<% include ../../partials/footer %>