<% include ../../partials/restrict-header %>
<div class='container'>
<h3 class='text-center alert alert-primary my-5'> FUNCIONÁRIAS </h3>
</div>



  

<div class='container my-4'>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Funcionária</th>
          <th scope="col">Caixas Fechados</th>
          <th scope="col">Comandas Fechadas</th>
          <th scope="col">Valor dos Caixas</th>
          <th scope="col">Valor das Comandas</th>
        </tr>
      </thead>
      <tbody>
      <% employees.forEach(employee => { %>
        <tr class='table-info'>
          <th scope="row"><%= employee.name %></th>
          <td>caixas fechados</td>
          <td>comandas fechadas</td>
          <td>@valor caixas</td>
          <td>@valor comandas</td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </div>


  <div class='my-4'>
    <a href='funcionarias/nova'><button class="btn btn-primary mr-2">Cadastrar Funcionária</button></a>
    <a href='/restrict/gerenciamento'><button class="btn btn-secondary">Voltar</button></a>
  </div>

</div>
<% include ../../partials/footer %>