<% include ../partials/restrict-header %>
<div class='container'>
    <div class="mt-5 ">
        <h1 class="mt-4 text-center text-body"> Sistema de Gerenciamento Net Link </h1>
    </div> 
        <h4 class="my-4 text-center text-body"> Consultar Caixas por Loja</h4> <%= quant %>
            <hr />
        <div class='row menuRestrict'>
            <div class='col-md-3 text-center'>
                <a href='/restrict/caixas/Avenida' class='text-decoration-none'><h4 class='tags'>Avenida</h4></a>
            </div>
            <div class='col-md-3 text-center'>
                <a href='/restrict/caixas/Unespar' class='text-decoration-none'><h4 class='tags'>Unespar</h4></a>
            </div>       
        
            <div class='col-md-3 text-center'>
                <a href='/restrict/caixas/São%20Cristóvão' class='text-decoration-none'><h4 class='tags'>São Cristóvão</h4></a>
            </div>
            <div class='col-md-3 text-center'>
                <a href='/restrict/caixas/Cruz%20Machado' class='text-decoration-none'><h4 class='tags'>Cruz Machado</h4></a>
            </div>       
        </div>
    <hr />
    <div class='row BtnComandasLoja'>
        <div class='col-md-4 text-center mx-auto'>
            <a class='text-decoration-none' href='/restrict'><h4 class="tagsUp ">Voltar</h4></a>
        </div>
    
    </div>
</div>
<% include ../partials/footer %>